# Files and directories created by pub
.packages
.pub/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock
package-lock.json

# Directory created by dartdoc
doc/api/

# IDE
.idea

# Autobuild
*.bundle.js
client/**/*.css