<div id="page-software" class="page">
    <div class="head-image">
        <img src="images/head_software.min.jpeg" />
    </div>
    <div>
        <div class="alert alert-secondary text-center" ng-if="loading">
            <i class="fas fa-spinner"></i> Cargando...
        </div>
        <div class="alert alert-danger text-center" role="alert" ng-if="error">
            <i class="fas fa-exclamation-circle"></i> Ha ocurrido un error al cargar los proyectos.
        </div>
    </div>
    <section class="repo-list row ng-cloak">
        <div class="project col-xl-6 col-lg-12" ng-repeat="repo in repositories | orderBy: '-Updated'">
            <h2><a href="{{repo.Urls.main}}" target="_blank" title="Enlace a la web del proyecto">{{repo.Name}}</a></h2>
            <p class="description">{{repo.Description}}</p>
            <div class="plinks">
                <span class="plink" ng-if="repo.Urls.main"><a href="{{repo.Urls.main}}" title="Web del proyecto"><i class="fas fa-link"></i></a></span>
                <span class="plink" ng-if="repo.Urls.wiki"><a href="{{repo.Urls.wiki}}" title="Wiki del proyecto"><i class="fab fa-wikipedia-w"></i></a></span>
                <span class="plink" ng-if="repo.Urls.issues"><a href="{{repo.Urls.issues}}" title="Wiki del proyecto"><i class="fas fa-bug"></i></a></span>
                <span class="planguage" title="Lenguage de programación principal: {{repo.Language}}"><i ng-if="repo.devicon" ng-class="repo.devicon"></i> <span class="name">{{repo.Language}}</span></span>
                <span class="pupdate"><i class="fas fa-clock"></i> Actualizado: {{repo.Updated | elapsed}}</span>
            </div>
        </div>
    </section>
</div>