<div id="page-curriculum" class="page">
  <div class="head-image">
    <img src="images/head_curriculum.min.jpg" alt="Curriculum background image" title="La tierra desde la Estación Espacial Internacional" />
  </div>
  <div id="my-head">
    <img class="float-left" src="images/me.jpg" title="Foto de Aitor González, Mayo de 2018"/>
    <div class="float-left clearfix name">Aitor González Fernández</div>
  </div>
  <section class="curriculum-list row ng-cloak">
    <div class="card-columns card-columns-curriculum">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><span class="card-icon"><i class="fas fa-briefcase"></i></span> Experiencia</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" ng-repeat="job in experience | orderBy: '-to'">
            <h6 class="d-inline-block">{{job.job}}</h6>
            <div class="float-md-right light-text">
              {{job.from | date: 'MM/yyyy'}} - {{job.to | date: 'MM/yyyy'}}
            </div>
            <div>
              <span ng-if="!job.url" class="light-text">{{job.company}}</span>
              <span ng-if="job.url" class="light-text"><a href="{{job.url}}" target="_blank">{{job.company}}</a></span>
            </div>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><span class="card-icon"><i class="fas fa-graduation-cap"></i></span> Estudios y titulaciones</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" ng-repeat="study in qualifications | orderBy: '-to'">

            <h6 class="d-inline-block">{{study.title}}</h6>
            <div class="float-md-right light-text">
              {{study.from | date: 'MM/yyyy'}} - {{study.to | date: 'MM/yyyy'}}
            </div>
            <div>
              <span ng-if="!study.url" class="light-text">{{study.school}}</span>
              <span ng-if="study.url" class="light-text"><a href="{{study.url}}" target="_blank">{{study.school}}</a></span>
            </div>
          </li>
          <li class="list-group-item" ng-repeat="certification in certifications | orderBy: 'from'">
            {{certification.title}}
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><span class="card-icon"><i class="fas fa-language"></i></span> Idiomas</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" ng-repeat="language in languages">
            <h4 class="d-inline-block">{{language.name}}</h4>
            <span class="float-right">
              <span class="badge badge-info" ng-repeat="cert in language.certifications">{{cert}}</span>
            </span>
            <div class="progress mt-3">
              <div class="progress-bar bg-primary" role="progressbar" ng-style="{ 'width': language.level + '%' }" aria-valuenow="{{language.level}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><span class="card-icon"><i class="fas fa-hashtag"></i></span> Aptitudes</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            <span class="badge badge-primary" ng-repeat="aptitude in aptitudes">{{aptitude}}</span>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><span class="card-icon"><i class="fas fa-gamepad"></i></span> Hobbies</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" ng-repeat="hobby in hobbies">
            {{hobby.name}}
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>