@import '../animations';

div.head-image {
  display:block;
  max-height: 120px;
  overflow:hidden;

  img {
    width: 100%;
    height:auto;
    display:block;
  }
}

div.alert {
  border-radius: 0;
}

.fa-spinner {
  .spin(2000ms);
}